
* {
	font-family: "Verdana" sans-serif;
	font-size: 20px;
}

h1 {
    font-size: 3rem;
}

#sub-header {
    text-transform: uppercase;
}



.text-green {
    background-color: #aed19d;
}


li[class="tool"] {
	border-style: solid;
	border-color: skyblue;
	border-width: 2px;
}

section img {
    height: 20vh;
    width: 20vhpx;
    border-radius: 150px;
}

ul ~ p {
	text-align: center;
}

section > ul > li {
    letter-spacing: 10px;
}







